@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">
    Podczas przetwarzania żądania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p class="text-warning">
        <strong>Żądanie ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3 class="text-warning">Development Mode</h3>
<p class="text-warning">
    Zamiana na <strong>Rozwój</strong> środowisko wyświetli bardziej szczegółowe informacje o błędzie, który wystąpił.
</p>
<p class ="text-warning">
    <strong>Środowisko deweloperskie nie powinno być włączone dla wdrożonych aplikacji.</strong>
    Może to spowodować wyświetlanie użytkownikom końcowym poufnych informacji z wyjątków.
    Aby debugować lokalnie, włącz <strong>Rozwój</strong> środowisko, ustawiając <strong>ASPNETCORE_ŚRODOWISKO</strong> zmienna środowiskowa do    <strong>Rozwój</strong>
    i ponowne uruchomienie aplikacji.
</pclass>
