@model WebApplication2.Models.Wallet

@{
    ViewData["Title"] = "Dodaj Saldo Gotówkowe";
}

<h1 class ="text-warning p-1">Dodaj Saldo Gotówkowe</h1>

<h2 class="text-warning p-2">Portfele</h2>
<hr />
<div class="row">
    <div class="col-md-4 text-warning p-4 bg-warning  bg-opacity-10 rounded border border-warning">
        <form asp-action="AddCashBalance">
            <div asp-validation-summary="ModelOnly" class="text-danger">></div> 
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CashBalance" class="control-label"><h3>Saldo Gotówkowe</h3</label> 
                <input asp-for="CashBalance" type="number" name="cashBalance" class="form-control bg-dark text-warning" />
                <span asp-validation-for="CashBalance" class="text-danger"></span>
            </div> <br>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-outline-warning btn-lg" />
            </div> <br>
        </form>
    </div>
</div>

<div>
    <a class="text-warning" asp-action="Index"><h6 class="p-4">Powrót</h6></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
