@model WebApplication2.Models.Wallet

@{
    ViewData["Title"] = "Detale";
}

<h1>Detale</h1>

<div>
    <h4>Portfel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var crypto in (Dictionary<string,float>)ViewData["cryptos"]) {
    <tr>
        <td>
            @crypto.Key
        </td>
        <td>
            @crypto.Value
        </td>
    </tr>
}
</tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
