@model WebApplication2.Models.Wallet

@{
    ViewData["Title"] = "Detale";
}

<h1 class ="text-warning p-1">Detale</h1>

<div>
    <h4 class="text-warning p-2">@Model.Name</h4>
    <hr />
</div>
<table class="text-warning table table-dark table-bordered border-warning">
    <thead>
        <tr>
            <th>
                <h3>Nazwa</h3>
            </th>
            <th>
                <h3>Ilość</h3>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var crypto in (Dictionary<string,float>)ViewData["cryptos"]) {
    <tr>
        <td>
                    <h4> @crypto.Key</h4>
        </td>
        <td>
                    <h4>@crypto.Value</h4>
        </td>
    </tr>
}
</tbody>
</table>
<div>
    <a class="text-warning" asp-action="Index"><h6 class="p-4">Powrót do listy</h6></a>
</div>
