@model WebApplication2.Models.Crypto

@{
    ViewData["Title"] = "Kup";
}

<h1 class="text-warning p-1" >Kup</h1>

<h2 class="text-warning p-2">@Model.Name</h2>
<hr />
<div class="row">
    <div class="col-md-4 text-warning p-4 bg-warning  bg-opacity-10 rounded border border-warning">
        <form asp-action="Buy">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group text-warning">
                <label class="control-label"><h3>Ilość</h3></label>
                <input type="number" name="quantity" class="form-control bg-dark text-warning" id="QuantityInput" />
                <span class="text-warning"></span>
            </div> <br>
            <div class="form-group text-warning">
                <label class="control-label "><h3>Wartość</h3></label>
                <table class="text-warning border border-warning">
                    <tr>
                        <td><h3 id="cryptoValue">@Model.Value</h3></td>
                        <td><h4>ZŁ</h4></td>
                    </tr>
                </table>
            </div> <br>
            <div class="form-group text-warning">
                <label class="control-label "><h3>Całkowia Wartość</h3></label>
                <div class="text-warning" id="totalValue"></div>
            </div> <br>
            <div class="form-group text-warning">
                <label class="control-label "><h3>Wybierz Portfel</h3></label>
                <select class="form-control bg-dark text-warning" name="walletId" asp-items="ViewBag.WalletId"></select>
                <span class="text-warning"></span>
            </div> <br>
            <div class="form-group text-warning">
                <input type="submit" value="Kup" class="btn btn-outline-warning btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-warning" asp-action="Index"><h6 class="p-4">Powrót</h6></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script>
            $("#QuantityInput").change(function () {
                var quantity = parseInt($(this).val());
                var ddl = document.getElementById("totalValue");
                var value = document.getElementById("cryptoValue").innerHTML;
                var total = quantity * value;
                console.log(total);
                ddl.innerHTML = total + " zł";
            });
    </script>
    }
    }

    
