@model WebApplication2.Models.Crypto

@{
    ViewData["Title"] = "Sprzedaj";
}

<h1>Sprzedaj</h1>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Sell">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Ilość</label>
                <input type="number" name="quantity" class="form-control" id="QuantityInput" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Wartość</label>
                <table>
                    <tr>
                        <td><div id="cryptoValue">@Model.Value</div></td>
                        <td><div>zł</div></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label class="control-label">Całkowia wartość</label>
                <div id="totalValue"></div>
            </div>
            <div class="form-group">
                <label class="control-label">Wybierz Portfel</label>
                <select class="form-control" name="walletId" asp-items="ViewBag.WalletId"></select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sprzedaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $("#QuantityInput").change(function () {
                var quantity = parseInt($(this).val());
                var ddl = document.getElementById("totalValue");
                var value = document.getElementById("cryptoValue").innerHTML;
                var total = quantity * value;
                console.log(total);
                ddl.innerHTML = total + " zł";
            });
        </script>
    }
    }
