@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="text-warning">@ViewData["Title"]</h1>
<h2 class="text-warning">Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4 text-warning p-4 bg-warning  bg-opacity-10 rounded border border-warning">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div><br />
            <button type="submit" class="btn btn-outline-warning btn-lg">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
